---
/*
Example of adding HeroSwitch component to the page:
true => left:headlines right:image, false-> opposite of true (Default: true)

<HeroSwitch
		pageContent={pageContent}
        ctaButton={true}
		pictureRight={true}
	/>

add the following to the translations file:
hero_switch: {
        headline: "Next-Gen Cloud Technology",
        sub_headline: "Unlock unparalleled speed and security with our WASM-powered cloud platform.",
        ctaText: "Get Started",
        ctaLink: "/signup",
        img_file: "/placeholder.webp",
    }
*/
const { pageContent, ctaButton = true, pictureRight = true } = Astro.props;

import { Text } from '@components/ui/text/index.astro';
import { Button } from '@components/ui/button/index.astro';
import { Image } from 'astro:assets';

// Retrieve all images in `src/assets/images/value_propositions/` using `import.meta.glob`
const images = import.meta.glob('../../../assets/images/hero_split/*', {
  eager: true,
}) as Record<string, { default: ImageMetadata }>;

// Retrieve the image that matches the filename stored in `img`
const imgSrc = images[`../../../assets/images/hero_split/${pageContent.img_file}`]?.default ?? '';
---

<section class="min-h-[550px] lg:min-h-[900px] flex justify-center">
  <div
    class={`container mx-auto px-6 flex flex-col md:flex-row items-center md:gap-x-10 space-y-10 md:space-y-0 ${pictureRight ? 'md:flex-row-reverse' : ''}`}
  >
    {/* Image Section */}
    <div class="w-full md:w-1/2 aspect-[3/2] overflow-hidden rounded-lg shadow-md">
      {
        imgSrc ? (
          <Image src={imgSrc} alt="Hero Illustration" class="w-full h-full object-cover" />
        ) : (
          <p class="text-red-500">画像が見つかりません</p>
        )
      }
    </div>

    {/* Text Section */}
    <div class="w-full md:w-1/2 text-left">
      <Text size="headline">{pageContent.headline}</Text>
      <Text variant="muted" size="sub_headline" class="text-left">{pageContent.sub_headline}</Text>
      {
        ctaButton && (
          <Button size="cta" href={pageContent.cta_link} class="mt-6">
            {pageContent.cta_text}
            <svg
              class="shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="m9 18 6-6-6-6" />
            </svg>
          </Button>
        )
      }
    </div>
  </div>
</section>
