---
// データとコンポーネントをインポート
import ValueProposition from "./SimpleValuePropositionItem.astro";


type KeyValueItem = {
    title: string;
    painPoint: string;
    agitatepainPoint: string;
    solution: string;
    img_file: string;
};

type KeyValueData = {
    key_values: KeyValueItem[];
};

// Ensure Astro.props has the correct type
const { pageContent } = Astro.props as { pageContent: KeyValueData };
---

<section class="py-16 lg:py-24">
  {pageContent.key_values.map((solution, index) => (
    <ValueProposition
      title={solution.title}
      painPoint={solution.painPoint}
      agitatepainPoint={solution.agitatepainPoint}
      solution={solution.solution}
      img_file={solution.img_file}
      reverse={index % 2 === 1} /* Reverse the image and text for odd-numbered items */
    />
  ))}
</section>