---
// imports
import { Text } from '@src/components/ui/text/index.astro';
import { Image } from 'astro:assets';

// Props: title, description, bullets, img, reverse
const { title, painPoint, agitatepainPoint, solution, img_file, reverse = false } = Astro.props;

// Use import.meta.glob to retrieve all images in the src/assets/images/value_propositions/ directory
const images = import.meta.glob('../../../assets/images/value_propositions/*', {
  eager: true,
}) as Record<string, { default: ImageMetadata }>;

// Retrieve the image that matches the filename stored in img_file
const imgSrc = images[`../../../assets/images/value_propositions/${img_file}`]?.default ?? '';
---

<section class="py-8 lg:py-16">
  <div
    class="container flex flex-col lg:flex-row items-center mx-auto px-4 gap-8"
    class:list={{ 'lg:flex-row-reverse': reverse }}
  >
    {/* Image Section */}
    <div class="max-w-2xl lg:w-1/2 aspect-[3/2] overflow-hidden rounded-lg shadow-md">
      {
        imgSrc ? (
          <Image src={imgSrc} alt={title} width={600} height={400} class="w-full h-full object-cover" />
        ) : (
          <p class="text-red-500">画像が見つかりません</p>
        )
      }
    </div>

    {/* Text Section */}
    <div class="w-full lg:w-1/2 text-center lg:text-left">
      <Text size="headline">
        {title}
      </Text>
      <Text variant="muted" size="description">
        {painPoint}
      </Text>
      <Text variant="muted" size="description">
        {agitatepainPoint}
      </Text>
      <Text variant="muted" size="description">
        {solution}
      </Text>
    </div>
  </div>
</section>
