---
// UI Components
import BaseLayout from '@layouts/BaseLayout.astro';
import PricingList from '@components/sections/pricingList/index.astro';
import PricingTable from '@components/sections/pricingTable/index.astro';
import { Text } from '@src/components/ui/text/index.astro';

// i18n imports
import { loadPageContents, LANG_LIST, DEFAULT_LANG } from '@src/i18n/utils';

type Lang = (typeof LANG_LIST)[number] | null;

const locale: Lang = (Astro.params as { lang?: Lang }).lang || DEFAULT_LANG;

let pageContent: any = {};
try {
  pageContent = await loadPageContents(locale, 'plans');
} catch (error) {
  console.error('Translation loading failed:', error);
  // Add fallback translation handling here if necessary
}

const { page } = pageContent;

// Generate static paths dynamically based on available languages
export async function getStaticPaths() {
  if (DEFAULT_LANG === null) {
    // i18n is disabled: return a single static path without parameters.
    // don't forget to move this file to the root of the pages folder
    // and remove the [lang] folder
    // also you have to move i18n/[lang]/*.ts files to the root of the i18n folder
    return [{ params: {} }];
  }
  // i18n is enabled: generate a path for each available language.
  return LANG_LIST.map((lang) => ({ params: { lang } }));
}
---

<BaseLayout pageContent={pageContent} meta={pageContent.page.meta}>
  {/* Page Headline */}
  <div class="py-12">
    <section class="text-center mb-8 md:mt-15">
      <Text size="headline" as="h1">
        {page.headline}
      </Text>
      <Text variant="muted" size="sub_headline">{page.sub_headline}</Text>
    </section>
  </div>

  <PricingList type="simple" pageContent={page.pricing_plans} />
  <div class="mb-10">
    <PricingTable type="simple" pageContent={page.pricing_table} />
  </div>
</BaseLayout>
