---
import * as Card from '@components/ui/card/index.astro';
import { Badge } from '@components/ui/badge/index.astro';
import { Text } from '@components/ui/text/index.astro';
import { Button } from '@components/ui/button/index.astro';
import { Check } from '@lucide/astro';

const { pageContent } = Astro.props;
const pricingPlans = pageContent;
---

<section>
  <div
    class={`flex flex-col items-center lg:flex-row lg:justify-center lg:items-stretch mb-15`}
    style={`gap: calc(50px / ${pricingPlans.length})`}
  >
    {
      pricingPlans.map((plan) => (
        <Card.Root
          variant={`${plan.popular ? 'highlight_70' : 'default_70'}`}
          size="v_rec"
          class={`relative flex flex-col justify-start`}
        >
          <Card.Header>
            {plan.popular && <Badge class="absolute top-4 right-4">Most popular</Badge>}
            <Card.Title variant={`${plan.popular ? 'highlight' : 'default'}`}>{plan.title}</Card.Title>
            <Card.Description>{plan.description}</Card.Description>
          </Card.Header>
          <Card.Content>
            <div class="text-[min(5vw,28px)] font-bold my-3 text-center">
              <Text variant="default" size="price" as="span">
                {plan.price}
              </Text>
              <Text variant="muted" size="md" as="span">
                {plan.frequency}
              </Text>
            </div>
            <Button
              variant={plan.buttonVariant}
              href={plan.url}
              class="w-full font-semibold cursor-pointer rounded-lg px-4 py-3"
              size="lg"
            >
              Buy plan
            </Button>
          </Card.Content>
          <ul class="mt-3 text-left text-gray-700 list-none p-0">
            {plan.features.map((feature) => (
              <li class="mb-2">
                <Text class="flex inline-flex">
                  <Check class="mr-2" /> {feature}
                </Text>
              </li>
            ))}
          </ul>
        </Card.Root>
      ))
    }
  </div>
</section>
