---
// import { defineComponent } from "astro";
import { Text } from '@src/components/ui/text/index.astro';
import { Button } from '@src/components/ui/button/index.astro';
import { Input } from '@src/components/ui/input/index.astro';

type PageProps = {};

const { pageContent } = Astro.props;

let email = '';
let submitted = false;

function handleSubmit(event) {
  event.preventDefault();
  console.log('Email submitted:', email);
  submitted = true;
}
---

<section class="flex flex-col items-center justify-center text-center py-16 lg:py-24 px-5">
  <Text size="headline">
    {pageContent.headline}
  </Text>
  <Text variant="muted" size="sub_headline">
    {pageContent.sub_headline}
  </Text>
  {
    !submitted ? (
      <form class="mt-1 w-full max-w-sm" onSubmit={handleSubmit}>
        <Text variant="muted" class="text-left">
          {pageContent.email_label}
        </Text>
        <Input
          type="text"
          class="global_base"
          placeholder={pageContent.email_form_placeholder}
          bind:value={email}
          required
        />
        <Button variant="primary" type="submit" size="submit" class="mt-4">
          {pageContent.submit_label}
        </Button>
      </form>
    ) : (
      <p class="text-green-600 dark:text-green-400 mt-4">{submit_message}</p>
    )
  }
</section>
